<?xml version="1.0" ?>
<launch>
  <param name="robot_description" textfile="$(find nx15a)/urdf/nx15a.urdf" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model nx15a" />
  <rosparam file="$(find nx15a)/controllers.yaml" command="load"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" args="
    joint_state_controller
    leg_lf_controller
    leg_lr_controller
    leg_rf_controller
    leg_rr_controller"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node1" args="tcp 11411">
    <param name="port" value="tcp"/>
  </node>
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node2" args="tcp 11412">
    <param name="port" value="tcp"/>
  </node>
</launch>
